<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje algorytmy - Wojciech Aszkiełowicz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Algorytmy Wojciecha Aszkiełowicza</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="https://github.com/aszkiel71" target="_blank"><img src="{{ url_for('static', filename='images/github-icon.png') }}" alt="GitHub" class="github-icon"></a></li>
            <li><a href="/algorithms">Moje algorytmy</a></li>
        </ul>
    </nav>

    <section class="algorithms">
        <!-- Algorytmy -->
        <div class="algorithm-box">
            <h2>Fraktal Sierpińskiego</h2>
            <p>Fraktal Sierpińskiego jest jednym z najbardziej znanych fraktali. Możesz pobrać plik, aby zobaczyć jego wygenerowaną wersję w Pythonie.</p>
            <a href="{{ url_for('static', filename='algo/fraktal.py') }}" class="download-btn" download>Pobierz Fraktal</a>
        </div>

        <div class="algorithm-box">
            <h2>Algorytm 2</h2>
            <p>Opis algorytmu 2. Można tu opisać jego działanie, sposób implementacji lub jego zastosowanie.</p>
            <a href="#" class="download-btn">Pobierz Algorytm 2</a>
        </div>

    </section>

</body>
</html>
