<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje algorytmy - Wojciech Aszkiełowicz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>My algorithms, projects</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="https://github.com/aszkiel71" target="_blank"><img src="{{ url_for('static', filename='images/github-icon.png') }}" alt="GitHub" class="github-icon"></a></li>
            <li><a href="/algorithms">Algo</a></li>
        </ul>
    </nav>

    <section class="algorithms">
        <!-- Algorytmy i pliki do pobrania-->
        <div class="algorithm-box">
            <h2>Sierpinski's Fractal</h2>
            <p>The Sierpinski fractal is one of the most famous fractals. You can download the file to see its generated version in Python.</p>
            <a href="{{ url_for('static', filename='algo/fraktal.py') }}" class="download-btn" download>Download .py</a>
        </div>

        <div class="algorithm-box">
            <h2>Fibonacci (fast as hell)</h2>
            <p>Fibonacci algorithm in dynamic programming. Download by button below and try it by yourself in Python.</p>
            <a href="{{ url_for('static', filename='algo/fibonacci.py') }}" class="download-btn" download>Download .py</a>
        </div>

    </section>

</body>
</html>
