<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Wojtek Aszkiełowicz,
            my portfolio</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="https://github.com/aszkiel71" target="_blank"><img src="{{ url_for('static', filename='images/github-icon.png') }}" alt="GitHub" class="github-icon"></a></li>
            <li><a href="/algorithms">Repo</a></li>
            <li><a href="/courses">Academic CV</a></li>
        </ul>
    </nav>

    <section class="facts-section">
        <h2>About me</h2>
        <p>Hey, my name is Wojtek and I am studying computer science at the University of Wroclaw</p>
        <p>On this page you can find my side projects, some of the interesting algorithms (also on my github account). I will post here some interesting algorithms related to artificial intelligence and more.</p>
        <p>Surely, here gonna appear informations about courses I've done.</p>

        <h3>Some facts about me</h3>
        <p>1. I am studying CS at the Uni</p>
        <p>2. I love math.</p>
        <p>3. I was qualified for the scholarship program because of the result of my final exam at the high school.</p>
        <p>4. In the second semester I am to start the subject of AI and OOP.</p>
        <p>5. I am currently learning dynamic programming.</p>
    </section>



</body>
</html>
